#conteiner {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: -10px;
}

.botao {
    position: absolute;
    height: 80px;
    color: white;
    background-color: chocolate;
    top: 500px;
    left: 880px;
    font-size: 20px;
    border: 0.5px solid black;
}